/* Media queries for RWD */
$iphonePortrait:    "only screen and (min-width: 1px) and (max-width: 991px)";
$tabletPortrait:    "only screen and (min-width: 0px) and (max-width: 0px)";
$justIphonePortrait:    "only screen and (min-width: 1px) and (max-width: 320px)";
$justIphoneLandscape:    "only screen and (min-width: 321px) and (max-width: 480px)";
$justTabletPortrait:    "only screen and (min-width: 481px) and (max-width: 991px)";