body {
    top:25%;
    background-repeat: no-repeat;
    background-color: orange;
    background-image: url('http://oyster.ignimgs.com/wordpress/stg.ign.com/2017/11/MHO_KeyArt_1920x1080_legal.jpg');
    width: 100%;
    height: 100%;
}

app-root {
    padding-top: 80px;
}