<div class="heroes">
    <div *ngFor="let hero of heroes" class="hero">
        <div class="card">
            <a routerLink="/hero/{{hero.id}}">
                <div class="picture">
                    <img src="{{hero._picture}}">
                    <div class="orderer">{{hero.id}}</div>
                </div>
                <div class="description">
                    <div class="nickname">
                        {{hero._nickname}}
                    </div>
                    <div class="name">
                        {{hero._name}}
                    </div>
                    <div class="height">
                        Estatura: {{hero._height}} m
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>