<div class="heroes">
    <div *ngFor="let hero of heroes" class="hero">
        <div class="card">
            <a routerLink="/hero/{{hero.name}}">
                <div class="picture">
                    <img src="{{hero.picture}}">
                    <div class="orderer">{{hero.id}}</div>
                </div>
                <div class="description">
                    <div class="nickname">
                        {{hero.nickname}}
                    </div>
                    <div class="name">
                        {{hero.name}}
                    </div>
                    <div class="height">
                        Estatura: {{hero.height}} m
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>